@model IEnumerable<Exercise_Tracker_v2.Models.Exercise>
<h1>Exercise List</h1>
<table class="table">
    <thead>
    <tr>
        <th>Exercise ID</th>
        <th>Date Start</th>
        <th>Date End</th>
        <th>Duration(Hrs)</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var exercise in Model)
    {
        <tr class="exercise-row">
            <td>@exercise.Id</td>
            <td>@exercise.DateStart.ToString("yyyy-MM-dd")</td>
            <td>@exercise.DateEnd.ToString("yyyy-MM-dd")</td>
            <td>@exercise.Duration</td>
            <td>@exercise.Comments</td>
            <td>
                <a href="@Url.Action("Edit", "Exercise", new { id = exercise.Id })">Edit</a>
            </td>
            <td>
                <form asp-action="DeleteExercise" asp-route-id="@exercise.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this exercise?');">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
</div>